[search]
currency = USD
roomTypes =

[storage]
; csv or elasticsearch
type = csv

[airbnb]
api_key = d306zoyjsyarp7ifhu67rjxn52tv0t20

[elasticsearch]
hosts = http://localhost:9200
index = short-term-listings
username = elastic
password = YOUR_PASSWORD
ca_cert =
